.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-input {
  text-align: center;
}

.images {
  overflow: hidden 
}
/* links rgba(158, 208, 230) */


.navbar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-around;
  border-radius: 50px;
  background: rgba(248, 249, 250);
  padding: 100px;
  border: 100px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.index {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.reStar {
    position: fixed;
}

.create-input-field {
  text-align: center;
}

.game-card {
  border-radius: 100px
}

.imageBanner {
  width: 100%;
}

/* rgb (21, 25, 61)
rgb (126, 189, 194) */
/* sign ins as cards cause cards orgaanize themselves  */
/* }
Go in an edit width of box itself

Container, row, column around the whole thing. 
Then will automatically center inputAs long as the container row and column
are not fluid */
/* 
Drag and grid will give me CSS absolute position coordinates for 
certain containers I've made 
Put those absolute positions i nto a class CSS
And then name the features in my front end after the class name of where 
I want them to be picture

drag and drop 

All CSS absolute position

B/c they exist in CSS structures
They inherit from class they style

Row column card type formation. 
I can have them in a row and one can come to the front if you hover over input
For long enough 

Row .map 
<Col md={4}/>
  Card 
    Card.img 
    Card.title
    Card.body
STYLE COLUMN MEDIUM 4/SMALL 2 ...small is breakpoint
  going to give me 4 in my row 

Row
  <Col md={6}/>  <Col md={3}/> <Col md={3} />
  Row              Row           Row 
    Col              Col          Col
      Card             Card         Card */