.App {
  text-align: center;
  /* background-color: rgb(251, 251, 251); */
  background-color: rgb(251, 251, 251);
/* 237, 238, 240
249, 249, 251,  */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden-to-set-width{
  display: none;
}

.game-profile-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  /* max-height: 300px;
  min-height: 300px; */
  margin-top: 5%
}

 .game-show-photo {
  float: left;
  height: 310px; 
  width: 325px;
  object-fit: cover;
  image-rendering: crisp-edges;
} 

.game-profile-info {
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  align-content: center;
  margin-top: 6%;
  margin-left: 15px;
}

.game-title-paragraph {
  max-width: 400px;
  font-size: 35px;
  font-family: 'Bangers', cursive;
}

.description-paragraph {
  max-width: 400px;
  font-size: 15px;
}

.footer {
  max-height: 40 px;
  color:#007ea7;
  text-align: center;
  align-content: center;
  background-image: linear-gradient(315deg, #D5FEFD 0%, #FFFCFF 74%)
}

.footer-right {
  padding-left: 850px;
  font-style: italic;
}

.scrolling-box {
  background-color: #9ABBFE;
  display: block;
  width: 200px;
  height: 380px;
  padding: 1em;
  overflow-y: scroll;
  text-align: center;
  border-radius: 15px;
}

.form-input {
  text-align: center;
}

.images {
  overflow: hidden 
}
/* links rgba(158, 208, 230) */


.navbar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-around;
  border-radius: 50px;
  background: rgba(248, 249, 250);
  padding: 100px;
  border: 100px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.index {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.reStar {
    position: fixed;
}

.create-input-field {
  text-align: center;
  /* width: 100px;
  height: 50px;
  position:relative;
  overflow: auto;  */

}

.game-card {
  border-radius: 100px;
}

.imageBanner {
  width: 100%;
}


.top-left-navbar {
  display: flex;
  justify-content: flex-start;
}
.top-left-nav-button {
  vertical-align: middle;
  border-style: none;
  width: 15%;
  display: flex;
  /* margin-top: -130px; */
  margin-top: -28%;
  height: 60%
}

/* Pierson */
.top-right-navbar {
  display: flex;
  justify-content: flex-end;
}
.top-right-nav-button {
  vertical-align: middle;
  border-style: none;
  width: 15%;
  display: flex;
  /* margin-top: -130px; */
  margin-top: -28%;
  height: 60%
}

/* 
iv className='photos-search-bar'>
                        <SearchBarPhotos search={search} searchType={searchType} setSearch={setSearch} setSearchType={setSearchType}/>
                    </div>
                    <div className='photos-sort-and-filter'> */

.photo-navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-button {
  vertical-align: middle;
  border-style: none;
  width: 15%;
  display: flex;
  /* margin-top: -130px; */
  margin-top: -10%;
}
.try-it {
  font-family: 'Russo One', sans-serif;
  margin-bottom: -1%
}

.relocate-search-bars {
  margin-top: 2%;
  margin-bottom: 10px;

}

.profile-page {
  display: flex;
  justify-content: space-between;
}

.profile-left-cards {
  vertical-align: middle;
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.profile-center-cards {
  vertical-align: middle;
  width: 50%;
  display: flex;
}

.profile-right-cards {
  vertical-align: middle;
  width: 25%;
  display: flex;
  justify-content: flex-end;
}



.new-game-form-parent {
  display: flex;
  justify-content: space-between;
}

.new-game-form {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    border: 5px rgba(21, 25, 61);
    padding: 50px;
    margin: 20px;
}

.schedule-game-form {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  border: 5px rgba(21, 25, 61);
  padding: 5px 50px 10px 50px;
  /* margin: 20px; */ 

}

.login-form {
  /* border: 5px rgba(21, 25, 61);
  border-style: solid; */
  padding: 2% 27% 27% 20%;
  margin: auto;
}
/* 
.login-form {
  border: 5px rgba(21, 25, 61);
  padding: 50px 100px 0px 100px;
  margin: auto;
} */

.signup-form {
  border: 5px rgba(21, 25, 61);
  padding: 2% 25% 25% 20%;
  margin: auto;
}

.reviews-search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
    border: 5px rgba(21, 25, 61);
    padding: 20px;
    margin: 20px;
}

.photos-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  border: 5px rgba(21, 25, 61);
  padding: 20px;
  margin: 10px;
}

.games-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  border: 5px rgba(21, 25, 61);
  padding: 20px;
  margin: 20px;
}


.users-search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  border: 5px rgba(21, 25, 61);
  padding: 20px;
  margin: 20px;
}

.instructions-paragraph {
  /* width: 75%;
  margin: auto; */
  
  width: 750px;
  height: 200px;
  margin: auto;

  overflow: auto;  

}

.div-of-photo {
  height: 280px;
  width: 100%;
}

.game-photo-image {
  float: left;
  height: 280px; 
  width: 100%;
  object-fit: cover;
}

.ui.card {
  max-height: 500px;
  max-width: 300px;

}

.game-image {
  float: left;
  height: 100%; 
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.index-photo-divider {
  margin: 10px;
}

.index-review-divider {
  margin: 5px
}

.photos-sort-and-filter {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
}

.user-image {
  float: left;
  height: 100%; 
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.user-profile-container {
  display: flex;
  justify-content: center;
}

.user-profile-card {
  margin: 7px;
  /* align-self: flex-start; */  
}

.profile-photos-search-bar {
  margin-top: 250px;
  /* margin-top: 29%; */
  /* align-self: flex-end; */
}



.profile-gs-search-bar {
  margin-top: 250px;
  /* margin-top:%; */

}

.profile-games-post-search {
  margin-top: 18%;
}

.profile-review-search-bar {
  /* margin-top: 21%; */
  margin-top: 230px;
}


.profile-games-search-bar {
  /* margin-top: 22% */
  margin-top: 250px;
}

.profile-users-search-bar{
  margin-top: 320px;
}


.search-bar-bottom {
  margin-top:auto;
}
/* .input-search {
  /* height: 42px; */
/* } */

.featured-on-user-page {
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.current-user-photo-search {
  margin-top: 250px;
}


/* .top-left-navbar {
  display: flex;
  justify-content: flex-start;
}
.top-left-nav-button {
  vertical-align: middle;
  border-style: none;
  width: 15%;
  display: flex; */


/* .parent-game-page-photos {

} */

.review-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stars-on-form {
  margin-left: 26%;
}

.photo-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.child-game-page-photo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.side-columns {
  /* max-width: 25px;
  min-width: 25px; */
}


.ui.card.game-user-card {
  width: 10%;
}

.card-side-column {

    float: left;
    height: 100%; 
    width: 100%;
    object-fit: cover;
    overflow: hidden;

}
/* get rid of divs,ui.card.new-name {} */

.column-featured {
  width: 500px;
}


/* 




Future refernce
  width: auto;
  height: auto;
  max-width: 25%;
  max-height: 25%;

body {
  margin: 0;

  font-family: 'Cedarville Cursive', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* rgb (21, 25, 61)
rgb (126, 189, 194) */
/* sign ins as cards cause cards orgaanize themselves  */
/* }
Go in an edit width of box itself

Container, row, column around the whole thing. 
Then will automatically center inputAs long as the container row and column
are not fluid */
/* 
Drag and grid will give me CSS absolute position coordinates for 
certain containers I've made 
Put those absolute positions i nto a class CSS
And then name the features in my front end after the class name of where 
I want them to be picture

drag and drop 

All CSS absolute position

B/c they exist in CSS structures
They inherit from class they style

Row column card type formation. 
I can have them in a row and one can come to the front if you hover over input
For long enough 

Row .map 
<Col md={4}/>
  Card 
    Card.img 
    Card.title
    Card.body
STYLE COLUMN MEDIUM 4/SMALL 2 ...small is breakpoint
  going to give me 4 in my row 

Row
  <Col md={6}/>  <Col md={3}/> <Col md={3} />
  Row              Row           Row 
    Col              Col          Col
      Card             Card         Card */